* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}

/* body */
body {
  background: linear-gradient(120deg, #171744, #0d162d);
  background-attachment: fixed;
}

/* Header */

header {
  background-color: #fa750010;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
  border-radius: 10px;
  font-family: "Jura", sans-serif;
  color: white;
  padding: 0.8rem;
}

section > img {
  height: 200px;
  cursor: pointer;
}

.centerHamster {
  display: flex;
  justify-content: center;
 
}

/* section_2 */

/* Footer */
footer {
  text-align: center;
  padding-top: 1rem;
  font-family: "Jura", sans-serif;
}

/* Version Desktop */
@media screen and (min-width: 768px) {
  /* .ul {
   ;
    
  } */
}
