
/* A METTRE EN COMMENTAIRE LORS DU MERGE */

main img{
    width: 20vw;
}


/* variables */

:root {
    --color-box: #FA750010;
    --color-border-box : #ffffff20;
    --main-font-family : "Jura", sans-serif;
  }

.equipementsBar {
    margin: 0 auto;
    padding: 1rem;
    background-color: var(--color-box);
    border: solid 1px var(--color-border-box);
    border-radius: 10px;
    margin: 1rem; 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 0.8rem;

}
.equipement{
    text-align: center;
}

.equipementTitle {
    font-family: var(--main-font-family);
    font-size: 1rem;
    color: white;
}

.equipementImage {
    max-height: 11vh;
    border-radius: 10px;
}

