* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}

/* body */
body {
    background:linear-gradient(120deg, #171744,#2d59c9);
    background-attachment: fixed;
    /* overflow: hidden; */
}

/* Header */

header {
  margin: 1rem;
 text-align: center;
  padding: 1rem;
  background-color: #fa7500;
  /* opacity: 10%; */
}



/* section_1 */

/* section_2 */

/* Footer */
footer {
  text-align: center;
}
